.imbedFont{
	text-align: center;
	font-family: 'Shadows Into Light', cursive;

}
h2{
	text-align: center;
}
h3{
	text-align: center; 
	margin-top: -15px;
}
tr {
	text-align: center;
}
caption{
	margin-bottom: 1%; 
	font-weight: bold;
}
ul{
	margin-left: 10%;
}
hr{
	margin-left: 5%; 
	margin-right: 5%;
}
.image {
    background-image: url(LoveRanRed.jpg); 
    background-repeat: no-repeat; 
   background-size: 300px 300px;   
    height:300px; 
    background-position: center;  
}
li{
	font-style: italic;
}