
@font-face {
    font-family: "Lobster";
    src: url("https://fonts.googleapis.com/css?family=Lobster");
    font-weight: 400;
    font-style: normal;
}
nav {
	text-align: left;
	background-color: #70db70;
	padding: 5px;
	nav-tabs;
}
a {
	margin: 4px;
}
hr{
	margin: -1px;
}
.mamasColor{
	color: #70db70;
	background-color: #ebfaeb;
	text-align: center;
	
	padding: 3px;
	font-family: Lobster;
}
th{
	font-size: 25px;
	text-align: center;
}	

col.first{
	background-color: orange;
}
col.third{
	background-color: green;
	color; white;
}
a{
	font-family: Lobster;
	background-color: White;
}
a:link{
	font-weight: normal;
}
a:visited{
	color: Orange;
}
a:hover{
	font-weight: bold;
}
a:active{
	text-decoration: none;
}
thead{
	text-decoration: underline;
}
.margin {

	padding-bottom: 2%;
	margin-right: 10%;


}
.flagColumn1{
	background: Orange;
	max-height: 100%
	

}
.flagColumn3{
	background: Green;
	max-width: 100%;

}

.border{
	border: 1px solid black
}
.block{
	margin-left: auto;
	margin-right: auto;
	width: 400px;
}