.imbedFont{
	text-align: center;
	font-family: 'Shadows Into Light', cursive;

}
h2{
	text-align: center;
	margin-top: .25%
}
h3{
	text-align: center; 
	margin-top: .25%;
}
tr {
	text-align: center;
}
caption{
	margin-bottom: 1%; 
	font-weight: bold;
	text-align: center;
}
ul{
	margin-left: 10%;
}
hr{
	margin-left: 5%; 
	margin-right: 5%;
}
.image {
    margin-right: auto;
	margin-left: auto;
    background-repeat: no-repeat; 
	image-circle;
}
li{
	font-style: italic;
}
a{
	font-family: monospace;
}
a:link{
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	background-color: #ffff00;
}
td{
	font-style: italic; 
}
table{
	background-color: #ffcccc
}
th {
	background-color: #ff0000;
}
