
@font-face {
    font-family: "Lobster";
    src: url("https://fonts.googleapis.com/css?family=Lobster");
    font-weight: 400;
    font-style: normal;
}
nav {
	text-align: left;
	background-color: #70db70;
	padding: 5px;
}
a {
	margin: 4px;
}
hr{
	margin: -1px;
}
.mamasColor{
	color: #70db70;
	background-color: #ebfaeb;
	text-align: center;
	margin:2px;
	padding: 3px;
}
h1{
	font-family: Lobster;
}
th{
	font-size: 25px;
}
.shade{
	background-color: #fff2e6;
}

.must{
	font-weight: bold;
}

