
@font-face {
    font-family: "Lobster";
    src: url("https://fonts.googleapis.com/css?family=Lobster");
    font-weight: 400;
    font-style: normal;
}
nav {
	text-align: left;
	background-color: #70db70;
	padding: 5px;
}
a {
	margin: 4px;
}
hr{
	margin: -1px;
}
.mamasColor{
	color: #70db70;
	background-color: #ebfaeb;
	text-align: center;
	margin:2px;
	padding: 3px;
	font-family: Lobster;
}
th{
	font-size: 25px;
}
.shade1{
	background-color: #fff2e6;
}
table.table1{
	border-collapse: collapse;
	border: 1px solid black;

}
col.first{
	background-color: orange;
}
col.third{
	background-color: green;
	color; white;
}
a{
	font-family: Lobster;
}
a:link{
	font-weight: normal;
}
a:visited{
	color: yellow;
}
a:hover{
	font-weight: bold;
}
a:active{
	text-decoration: none;
}
thead{
	text-decoration: underline;
}
table.table2
{
	text-align: left;
}


