h1 {
	text-align: center;

}
h2 {
	text-align: center; 

}
h3{
	text-align: center; 
	margin-top: -15px;
}
tr {
	text-align: center;
}
caption{
	margin-bottom: 1%; 
	font-weight: bold;
}
ul{
	margin-left: 10%;
}
hr{
	margin-left: 5%; 
	margin-right: 5%;
}