
nav {
	text-align: left;
	background-color: #70db70;
	padding: 5px;
}
a {
	margin: 4px;
}
hr{
	margin: -1px;
}
.mamasColor{
	color: #70db70;
	background-color: #ebfaeb;
	text-align: center;
	margin:2px;
	padding: 3px;
  
}